name: Deploy Questbook

permissions:
  contents: write
  deployments: write

on:
  workflow_dispatch:
    inputs:
      questbook_branch:
        description: 'QuestBook branch'
        type: choice
        default: 'main'
        options:
          - 'main'
          - 'preview'
      modpack_version:
        description: 'Modpack version'
        required: true

env:
  MODPACK_VERSION: "v${{ github.event.inputs.modpack_version }}"

jobs:
  deploy:
    runs-on: ubuntu-slim
    strategy:
      matrix:
        language: ['en-US']
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install system dependencies
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y zip jq wget

      - name: Check if tag already exists
        run: |
          if git rev-parse --verify --quiet "${{ env.MODPACK_VERSION }}"; then
            echo "Version ${{ github.event.inputs.modpack_version }} already exists, aborting workflow."
            exit 1
          fi

      - name: Download quest files
        run: |
          wget -O repo.zip https://github.com/GTModpackTeam/GregTech-Expert-2/archive/refs/heads/${{ github.event.inputs.questbook_branch }}.zip
          unzip -q repo.zip
          mkdir -p ./tmp

          EXTRACTED_DIR=$(find . -maxdepth 1 -type d -name "GregTech-Expert-2-*" | head -n 1)

          if [ -d "$EXTRACTED_DIR/overrides/config/betterquesting/DefaultQuests" ]; then
            mv "$EXTRACTED_DIR/overrides/config/betterquesting/DefaultQuests" ./tmp/DefaultQuests
          else
            echo "ERROR: DefaultQuests directory not found in expected location"
            exit 1
          fi

          rm -rf repo.zip "$EXTRACTED_DIR"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version-file: ./buildtools/pyproject.toml

      - name: Install dependencies
        shell: bash
        working-directory: ./buildtools
        run: uv sync

      - name: Run Python
        env:
          DEEPL_AUTH_KEY: ${{ secrets.DEEPL_AUTH_KEY }}
          TARGET_LANG_CODE: ${{ matrix.language }}
        run: |
          mkdir ./bqu/
          uv run --directory ./buildtools python ./questbook/translate_v2.py

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "${{ env.MODPACK_VERSION }}"
          draft: false
          prerelease: false
          generate_release_notes: true
          files: ./bqu/DefaultQuests_${{ matrix.language }}.zip
